/*css stylesheet*/
body {
    
}

.container-fluid {
  background-image: url('http://orig06.deviantart.net/c024/f/2010/147/1/1/assassins_creed_2_wallpaper_by_motopaddy.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.border {
    border-radius: 10px;
}

.text {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    margin: 10px;
}

.col-red {
    color:#8b0000;
    font-size: 22px;
    font-family: 'Bellefair', serif;
    margin: 10px;
}

.table-bordered {
    border: 3px solid gray;
}